* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background-color: #222;
    color: #fff;
}


/* NAVBAR */

.menu-btn {
    background-color: transparent;
    border: none;
    color: #f6982d;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute; /* Posicionamento absoluto para flutuar no menu */
    top: 20px; /* Ajuste da posição vertical */
    left: 23px; /* Ajuste da posição horizontal */
    z-index: 10; /* Certifica que o botão fica acima de outros elementos */
}

#navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    max-width: 250px;
    background-color: #333; /* Cor de fundo do menu */
    padding-top: 70px; /* Adiciona padding para acomodar o botão de retração */
    transition: width 0.3s; /* Animação ao expandir/retrair */
    overflow-x: hidden; /* Evita barra de rolagem horizontal */
    color: #fff; /* Cor do texto dentro do menu */
}

/* Linha Lateral */
#sidebar-line {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px; /* Largura da linha lateral */
    height: 100%; /* Altura total */
    background-color: #f6982d; /* Cor da linha lateral */
    transition: width 0.3s; /* Animação ao expandir/retrair */
    z-index: 999; /* Certifica que a linha lateral fique acima do conteúdo */
}

#navbar ul {
    list-style: none;
    padding: 0;
}

#navbar ul li {
    padding: 10px 15px;
    background-color: #333;
}

#navbar ul li a {
    color: #fff;
    background-color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s;
    display: block; /* Garante que o link ocupe todo o espaço do item */
    padding-left: 15px; /* Adiciona espaço à esquerda do texto dos links */
}

#navbar ul li a:hover {
    color: #f6982d;
}

#logo img {
    height: 40px;
    margin: 0 auto 20px auto;
    display: block; /* Centraliza a logo */
}

/* Botão para Retrátil o Menu */
/* Botão para expandir/recolher o menu */
#menu-toggle {
    background-color: transparent; /* Fundo transparente do botão */
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #f6982d; /* Cor do ícone do botão */
    transition: color 0.3s, background-color 0.3s; /* Adiciona transição para a cor de fundo */
    z-index: 10; /* Mantém o botão acima do menu */
    position: absolute; /* Posicionamento absoluto dentro do menu */
    top: 15px; /* Ajusta a posição vertical do botão */
    left: 15px; /* Ajusta a posição horizontal do botão */
    width: calc(100% - 30px); /* Faz o botão ocupar toda a largura do menu, considerando o padding */
    text-align: center; /* Centraliza o ícone */
    padding: 10px 0; /* Adiciona algum espaço ao redor do botão */
}

/* Cor de fundo do botão ao passar o mouse */
#menu-toggle:hover {
    background-color: #444; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do ícone ao passar o mouse */
}


/* Quando o menu está retraído */
#navbar.retracted {
    width: 68px; /* Largura reduzida */
    padding-top: 70px;
    overflow: hidden;
    background-color: #333; /* Cor de fundo do menu quando retraído */
}


#navbar.retracted ~ #menu-toggle {
    background-color: #333; /* Cor de fundo do botão quando o menu está retraído */
    color: #f6982d; /* Cor do ícone do botão quando o menu está retraído */
}

#navbar.retracted #menu-toggle {
    background-color: #333; /* Cor de fundo do botão quando o menu está retraído */
    color: #f6982d; /* Cor do ícone do botão quando o menu está retraído */
}

#navbar.retracted ul li a {
    text-align: center; /* Alinha o texto no centro quando retraído */
    font-size: 0; /* Esconde o texto */
}

#navbar.retracted ul li a:before {
    content: attr(data-text); /* Mantém o texto acessível em um atributo personalizado */
    font-size: 16px; /* Tamanho do texto ao passar o mouse */
    display: block;
}



/* CONTAINER */
.container {
    margin-left: 250px; /* Deixa espaço para o menu */
    padding: 20px;
    transition: margin-left 0.3s; /* Animação ao expandir/retrair */
    min-height: 60vh;
    padding: 2em;
}

#navbar.retracted ~ .container {
    margin-left: 70px; /* Reduz margem quando o menu está retraído */
}


/* Estilos Adicionais */
body {
    display: flex;
    flex-direction: column;
}


#submenu ul li a{
    color: #bdbdbd;
}

/* MESSAGES */
.message{
    padding: 1em;
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 2em;
    max-width: 60%;
}

/*LOGIN E REGISTER*/

.auth-container{
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.auth-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    
}

.auth-container2 form{
    display: flex;
    gap: 50px;
} 

.auth-container h2 {
    margin-bottom: 1em;
    color: #FFF;
    border-left: 4px solid #f6982d;
    padding: 0.3em;
    width: 100px;
}

.auth-container2 h2 {
    margin-bottom: 1em;
    color: #FFF;
    border-left: 4px solid #f6982d;
    padding: 0.3em;
    width: 800px;
}

.auth-container a {
    color: f6982d;
} 

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control-pesquisa{
    display: flex;
    flex-direction: column;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.5em; 
}

.form-control-pesquisa label {
    font-weight: bold;
    margin-bottom: 0.5em; 
}


.form-control input,
.form-control textarea,
.form-control select {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #f6982d;
    width: 100%; 
    box-sizing: border-box;
}

.form-control-pesquisa input,
.form-control-pesquisa textarea,
.form-control-pesquisa select {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #f6982d;
    width: 20em; 
    box-sizing: border-box;
}

.form-btn{
    margin-top: 2%;
}

form input[type='submit'],
.btn {
    background-color: transparent;
    color: #f6982d;
    border: 2px solid #f6982d;
    padding: 0.5em 1.2em;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

form input[type='submit']:hover,
.btn:hover {
  background-color: #f6982d;
  color: #FFF;  
}


/*CONTAINER RELTORIO PAGINA RELATORIO DE MATRICULAS*/
.container-relatorio {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333; /* Seguindo o padrão de cor do navbar */
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.table-container {
    overflow-x: auto;
    margin-bottom: 20px;
}

/* Estilos da Tabela */
.modern-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #333; /* Mesma cor de fundo do container para integração visual */
    border-radius: 12px;
    overflow: hidden;
}

.modern-table th,
.modern-table td {
    padding: 15px 20px;
    text-align: left;
    color: #fff; /* Cor do texto para contraste */
}

.modern-table th {
    background-color: #f6982d; /* Cor de fundo moderna para cabeçalho */
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid #444; /* Borda mais escura */
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.modern-table td {
    border-bottom: 1px solid #444; /* Borda mais escura */
    background-color: #222; /* Para um contraste sutil */
}

.modern-table tr:last-child td {
    border-bottom: none; /* Remove a borda inferior da última linha */
}

.modern-table td:first-child,
.modern-table th:first-child {
    border-radius: 12px 0 0 12px;
}

.modern-table td:last-child,
.modern-table th:last-child {
    border-radius: 0 12px 12px 0;
    border-right: none;
}

/* Efeito Hover nas Linhas */
.modern-table tbody tr:hover {
    background-color: #333; /* Cor de fundo ao passar o mouse */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Mensagem de Nenhum Resultado */
.no-results p {
    text-align: center;
    font-size: 18px;
    color: #f6982d; /* Destaque para a mensagem */
    padding: 20px;
    border-radius: 8px;
    background-color: #222; /* Cor de fundo consistente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




/*FOOTER*/
footer{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #f6982d;
}

footer span{
    font-weight: bold;
    color: #f6982d;
}


@media (max-width: 480px) {

    .container {
        margin-left: 50px; /* Deixa espaço para o menu */
        padding: 20px;
        transition: margin-left 0.3s; /* Animação ao expandir/retrair */
        min-height: 60vh;
        padding: 2em;
    }


    /* Estilos para o container de autenticação */
    .auth-container {
        max-width: 80%; /* Ajusta a largura máxima no tablet */

    }

    .auth-container2 h2 {
        margin-left: 1.5em;
        width: 100%;
    }

    .auth-container2 form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        
    }

    .container-relatorio {
        width: 100%;
        padding: 8px; /* Menos padding */
        border-radius: 6px; /* Bordas arredondadas menores */
    }

    .table-container {
        margin-bottom: 8px; /* Menos margem inferior */
    }

    .modern-table th,
    .modern-table td {
        padding: 8px; /* Menos padding */
        font-size: 12px; /* Fonte menor para leitura em dispositivos móveis */
    }

    .modern-table th {
        font-size: 10px; /* Fonte ainda menor para cabeçalhos */
    }

    .no-results p {
        font-size: 14px; /* Fonte menor para mensagem */
        padding: 10px; /* Menos padding */
        border-radius: 4px; /* Bordas arredondadas ainda menores */
    }

   
}
