<div class="container_home">
    <h1>Organize sua Escola com Facilidade!</h1>
    <p>Nosso sistema de gestão escolar permite que você administre alunos, professores, cursos, disciplinas e matrículas de forma intuitiva e eficiente. 
    Desfrute de um ambiente seguro e confiável que facilitará seu trabalho no dia a dia. <br>
    <br>Se você for um novo usuário, acesse o menu lateral para se cadastrar. Ao realizar seu login as opções de administração irão abrir no menu lateral!<br>
    <br>Seja bem vindo!</p>
</div>